<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RemoteConfig" type="Remote.Config, Remote"/>
  </configSections>
  <RemoteConfig sharedLogFile="c:\remote.txt">
    <Machines>
      <Machine label="localhost" machineName="localhost" logFolder="c:\Logs" />
      <Machine label="DEV" machineName="kubanb" logFolder="c:\Logs" />
      <Machine label="CI" machineName="kubanb" logFolder="c:\Logs" />
      <Machine label="UAT" machineName="kubanb" logFolder="c:\Logs" />
      <Machine label="STAGE" machineName="kubanb" logFolder="c:\Logs" />
      <Machine label="PROD" machineName="kubanb" logFolder="c:\Logs" />
      <Machine label="DR" machineName="kubanb" logFolder="c:\Logs" />
    </Machines>
  </RemoteConfig>
</configuration>