<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RemoteConfig" type="Remote.Config, Remote"/>
  </configSections>
  <RemoteConfig sharedLogFile="c:\tmp\remote.txt" logViewer="notepad.exe">
    <Machines>
      <Machine label="localhost" machineName="localhost" logFolder="c:\Logs" />
      <Machine label="DEV" machineName="?" logFolder="c:\Logs" />
      <Machine label="CI" machineName="?" logFolder="c:\Logs" />
      <Machine label="UAT" machineName="?" logFolder="c:\Logs" />
      <Machine label="STAGE" machineName="?" logFolder="c:\Logs" />
      <Machine label="PROD" machineName="?" logFolder="c:\Logs" />
      <Machine label="DR" machineName="?" logFolder="c:\Logs" />
    </Machines>
  </RemoteConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
</configuration>